cirq
cirq_google
qsimcirq
qiskit
qiskit_aer
qiskit-ibm-runtime
qiskit_providers
matplotlib
ply
pyyaml
numpy

## Force to use pydantic>=2.5.0
pydantic>=2.5.0

## If on windows, also import windows-curses
